body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0;
    border: solid 1px;
    font-size: 30px;
    border-radius: 10px;
    background-color: black;
}

#container {
    box-sizing: border-box;
    height: 550px;
    width: 450px;
    border: solid 12px #2b2b2a;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.display {
    height: 100px;
    border: solid 4px black;
    flex: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 75px;
    letter-spacing: 3px;
    
    
}

.main-content {
    height: 410px;
    flex: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.row {
    display: flex;
    flex: 1;
}

.bottom, .utility, .operators, .digits {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    flex: 2;
}

.digits, .zero, .decimal {
    background-color: #fef4ad;
}

.operators, .equals {
    background-color: #fe7b7c;
}

.utility {
    background-color: #fce00a;
}
